
.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.fixed-right{
  display:scroll;
  position:fixed;
  bottom:40px;
  right:20px;
}

.fixed-right-up{
  display:scroll;
  position:fixed;
  bottom:110px;
  right:20px;
}