<mat-card class="mat-elevation-z3">
    <h4>Task Advances</h4>
    <mat-form-field>
        <mat-label>Search Advance</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Date or Message search">
      </mat-form-field>
      
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">
      
        <!-- Date Column -->
        <ng-container matColumnDef="Date">
          <th mat-header-cell *matHeaderCellDef> <b> DATE </b> </th>
          <td mat-cell *matCellDef="let element" > <span style="font-size: 10px;">{{element.at | date:"medium"}} </span>
          </td>
        </ng-container>
      
        
        <ng-container matColumnDef="Message">
          <th mat-header-cell *matHeaderCellDef> <b>MESSAGE</b> </th>
          <td mat-cell *matCellDef="let element"> {{element.message}} </td>
        </ng-container>
      
     
    
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</mat-card>