
  .example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://www.fabuloussavers.com/new_wallpaper/Linux_Penguin_freecomputerdesktopwallpaper_p.jpg');
    background-size: cover;
  }

  .fixed-right{
    display:scroll;
    position:fixed;
    bottom:40px;
    right:20px;
}

