<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Gael Soft</span>
        <span class="example-spacer"></span>
        

        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>dehaze</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button *ngIf="!_authService.loggedIn()" mat-menu-item routerLink="/login" routerLinkActive="active">
              <mat-icon>flight_land</mat-icon>
              <span>Login</span>
            </button>
            <button *ngIf="!_authService.loggedIn()" mat-menu-item routerLink="/register" routerLinkActive="active">
              <mat-icon>how_to_reg</mat-icon>
              <span>Register</span>
            </button>

            <button *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()" mat-menu-item routerLink="/register" routerLinkActive="active">
              <mat-icon>flight_takeoff</mat-icon>
              <span>Logout</span>
            </button>
            
          </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>

<div class="container">

  <router-outlet></router-outlet>

    <!-- <task-list></task-list> -->
    <!-- <register-form></register-form> -->
    <!-- <login-form></login-form> -->
</div>

