
<div class="row pt-5">
    <div class=" col-md-8" style=" ">
        <h3 style="text-align: center;">Lorem Ipsum</h3>
        <hr>
        <img src="https://blog.wearedrew.co/hubfs/metodolog%C3%ADa%20scrum.png" style="width: 550px; display: block; margin: auto;"  alt="">
        <hr>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto placeat voluptas, reprehenderit velit magni natus id nam officia ea vitae. Quisquam praesentium voluptatibus recusandae saepe consectetur reprehenderit quod temporibus ex.
        <b>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque id vitae perferendis maxime labore qui et corrupti necessitatibus, sequi molestiae quae eveniet quam ipsam quos iste voluptate reiciendis impedit facere.
        </b>
    </div>
    <div class=" col-md-4 mt-5 ">
        <form autocomplete="off">
        <mat-card class="example-card ">
            <mat-card-header>
              
              <mat-card-title >Login form</mat-card-title>
              <mat-card-subtitle>Gael Soft</mat-card-subtitle>
            </mat-card-header>
            
            <mat-card-content>
              
                
                   <div class="container">
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input name="email" [(ngModel)]="userData.email" type="email" matInput placeholder="felipe@gaelsoft.com" required>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input name="password" [(ngModel)]="userData.password" type="password" matInput placeholder="********" required>
                    </mat-form-field>
                   </div>
                    
                                   
            </mat-card-content>

            <mat-card-actions>
                <div class="container mb-4">
                    <button mat-raised-button (click)="login()" class="btn-block" color="primary">Login</button>
                </div>
            </mat-card-actions>
          </mat-card>
        </form>
        <hr>

        <img src="https://miro.medium.com/max/750/1*GriNA_7UXtU4g_NKmMQ9dg.png" style="width: 250px; display: block; margin: auto;" alt="">
    </div>
</div>