<mat-tab-group color="primary" backgroundColor="accent">
  <mat-tab label="Tasks">
    <div cdkDropListGroup style="overflow: hidden;">

      <div class="row mt-2 ">
        <div class="col-md-4 marginZero">

          <div id="todo" cdkDropList [cdkDropListData]="todo" class="example-list " (cdkDropListDropped)="drop($event)">
            <h4 class="text-dark">To Do</h4>
            <div class="example-box mt-2  mat-elevation-z5" *ngFor="let item of todo" cdkDrag [id]="item._id">

              <div class="row">
                <div class="col-md-2">
                  <mat-icon color="{{item.priority.color}}" title="{{item.priority.name}}">{{item.priority.icon}}
                  </mat-icon>
                  <mat-icon title="{{item.type.name}}">{{item.type.icon}}</mat-icon>
                </div>
                <div class="col-md-10">
                  <p>{{item.title}}</p>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="col-md-4">
          <div id="inProgress" cdkDropList [cdkDropListData]="inProgress" class="example-list"
            (cdkDropListDropped)="drop($event)">
            <h4 class="text-dark">In Progress</h4>
            <div class="example-box mt-2 mat-elevation-z5" *ngFor="let item of inProgress" cdkDrag [id]="item._id">


              <div class="row">
                <div class="col-md-2">
                  <mat-icon color="{{item.priority.color}}" title="{{item.priority.name}}">{{item.priority.icon}}
                  </mat-icon>
                  <mat-icon title="{{item.type.name}}">{{item.type.icon}}</mat-icon>
                </div>
                <div class="col-md-10">
                  <p>{{item.title}}</p>
                </div>
              </div>




            </div>
          </div>

        </div>
        <div class="col-md-4">
          <div id="done" cdkDropList [cdkDropListData]="done" class="example-list" (cdkDropListDropped)="drop($event)">
            <h4 class="text-dark">Done</h4>
            <div class="example-box mt-2  mat-elevation-z5" *ngFor="let item of done" cdkDrag [id]="item._id">

              <div class="row">
                <div class="col-md-2">
                  <mat-icon color="{{item.priority.color}}" title="{{item.priority.name}}">{{item.priority.icon}}
                  </mat-icon>
                  <mat-icon title="{{item.type.name}}">{{item.type.icon}}</mat-icon>
                </div>
                <div class="col-md-10">
                  <p>{{item.title}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Sprints">

  </mat-tab>

</mat-tab-group>